<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome Page</title>
    </head>
    <h1>
        🆆🅴🅻🅲🅾🅼🅴 🆃🅾 🅰🆄🅳🅸🅾🅷🅰🆂🅷</h1>

    <form action="{% url 'index' %}" method = "post" style="text-align: right; margin-right: 0px; width: 0%;">
        {% csrf_token %}

      <div class="wrapper" style="text-align: right; border-left-width: 100%; padding-left: 5px; position: absolute; right:71%; width: 840px">

        <div class="search-container" style="height: 400px;">

            <label for="myfile">Select a file:</label>
            <input type="file" id="myfile" name="myfile">

            
          <button type="submit" style="background-color:greenyellow;color:black;width:150px;">Submit</button>
        </div>
      </div>
    </form>


    <p>
        <br>
        <br>
        Text:
        {{ text }}
    </p>
    <p2>
        HashTable
        {{ hash }}
    </p2>
    <p3>
        
    </p3>
    <p4>
        <br>
        HashTableH:
        {{ HashTableH }}
    </p4>
    <p5>
        <br>
        HashTableM:
        {{HashTableM}}
    </p5>
    <p6>
        <br>
        WordCounts:
        {{ WordCounts }}
    </p6>

</html>
