<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Welcome Page</title>
    </head>
    <h1>
        🆆🅴🅻🅲🅾🅼🅴 🆃🅾 🅰🆄🅳🅸🅾🅷🅰🆂🅷</h1>

    <form action="{% url 'index' %}" method = "post" style="text-align: right; margin-right: 0px; width: 0%;">
        {% csrf_token %}

      <div class="wrapper" style="text-align: right; border-left-width: 100%; padding-left: 15px; position: absolute; right:67%; width: 840px">

        <div class="search-container" style="height: 400px;">

            <label for="myfile">Select a file:</label>
            <input type="file" id="myfile" name="myfile">

            
          <button type="submit" style="background-color:greenyellow;color:black;width:150px;">Submit</button>
        </div>
      </div>
    </form>

   
    <form action="{% url 'search' %}" method = "post" class = "search container" style="text-align: right; padding-left: 15px; position: absolute; right:20%">
        {% csrf_token %}
        <p3>Search Number of times a word occurs:</p3>
        <input type = "text" placeholder = "Search" name = "search">
        <button type="submit" style="background-color:greenyellow;color:black;width:150px;">Submit</button>
    </form>


    <p>
        <br>
        <br>
        Text:
        {{ text }}
    </p>
    <p2>
        <h3>Hashing ASCII with Chaining</h3>
        {{ hash }}
    </p2>
    <p4>
        <br>
        <br>
        <br>
        <h3>Hashing Division with Linear Probing</h3>
        {{ HashTableH }}
    </p4>
    <p5>
        <br>
        <br>
        <br>
        <h3>Hashing Multiplication with Linear Probing</h3>
        {{HashTableM}}
    </p5>

</html>
